# ─────────────────────────────────────────────────
# Maven
# ─────────────────────────────────────────────────
target/
/target/
**/target/
*.class
/build/
bin
/bin/

# ─────────────────────────────────────────────────
# Eclipse / STS
# ─────────────────────────────────────────────────
.settings/
.springBeans
.sts4-cache/
.factorypath
.apt_generated/
bin/
.m2e-wtp/

# ─────────────────────────────────────────────────
# VS Code
# ─────────────────────────────────────────────────
.vscode/
.vs/

# ─────────────────────────────────────────────────
# Operating System
# ─────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ─────────────────────────────────────────────────
# Logs
# ─────────────────────────────────────────────────
*.log

# Node.js 의존성
/node_modules/

/.externalToolBuilders/
.stylelintrc.js
package.json
package-lock.json