<!--
	File:    career.html
	Purpose: 
	Since:   2025/04/28
	Version: 1.0.0
	Author:  Kwon Yujin
	
	@see: index.html
  -->
<!-- templates/main/layout.html -->
<body xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
	<!-- header -->
	<div th:replace="fragments/header :: siteHeader"></div>
	<!-- side -->
	<div th:replace="fragments/side :: siteSide"></div>
	
	<!-- main -->
	<main class="main">
		<div th:insert="${content} :: siteMain"></div>
	</main>
	
	<!-- footer -->
	<div th:replace="fragments/footer :: siteFooter"></div>
</body>
