<!--
  File:        login.html
  Description: 로그인 폼 페이지 프래그먼트
  Since:       2025/05/15
  LastUpdated: 2025/05/16
  Version:     1.0.0
  Author:      Kwon Yujin
  See:         layout.html
-->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="siteMain">
	<div>
		<h1>ログイン</h1>
		<form th:action="@{/auth/login}" th:object="${loginForm}" method="post">
			<sec:csrfInput/>
			<div>
				<label for="memberEmail">E-mail</label>
				<input type="email" th:field="*{memberEmail}" placeholder="your-email@example.com"/>
			</div>
			<div>
				<label for="memberPassword">パスワード</label>
				<input type="password" th:field="*{memberPassword}" placeholder="パスワード"/>
			</div>
			<div>
				<p th:if="${errorMessage}" th:text="${errorMessage}"></p>
			</div>
			<div>
				<input type="submit" value="ログイン"/>
			</div>
		</form>
	</div>
</div>
