<!--
	File:    memberinfo.html
	Purpose: 
	Since:   2025/05/01
	Version: 1.0.0
	Author:  Kwon Yujin
	
	@see: layout.html
  -->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="siteMain">
	<h2>会員情報修正</h2>
	<div class="profile-image my-4">
		<img th:src="@{${memberInfo.profileImageUrl}}" alt="プロフィールイメージ" />
	</div>
	<form th:action="@{/auth/updateName}" th:object="${nameUpdateForm}" method="post">
		<label for="name">名前</label>
		<input type="text" th:field="*{name}" th:placeholder="${memberInfo.name}" required />
		<button type="submit">名前変更</button>
	</form>
	<form th:action="@{/auth/updatePassword}" th:object="${passwordUpdateForm}" method="post">
		<label for="currentPassword">現在パスワード</label>
		<input type="password" id="currentPassword" th:field="*{currentPassword}" required />
		<label for="newPassword">新たなパスワード</label>
		<input type="password" th:field="*{newPassword}" required />
		<label for="confirmPassword">パスワード確認</label>
		<input type="password" th:field="*{confirmPassword}" required />
		<button type="submit">パスワード変更</button>
	</form>
	<div>
		<h3>リンク</h3>
		<ul>
			<li th:each="link, stat : *{links}">
				<a th:href="${link}" th:text="${link}" target="_blank"></a>
				<form th:action="@{/auth/updateLink}" method="post">
					<input type="hidden" name="index" th:value="${stat.index}" />
					<input type="text" name="newLink" placeholder="新たなリンク" required />
					<button type="submit">修正</button>
				</form>
			</li>
			<li th:if="${#lists.isEmpty(memberInfo.links)}">登録されたリンクがありません</li>
		</ul>
	</div>
	<div>
		<h3 class="mt-4">フォロー</h3>
		<ul>
			<li th:each="id : *{followIds}">
				<span th:text="${id}"></span>
				<form th:action="@{/auth/deleteFollow}" method="post">
					<input type="hidden" name="followId" th:value="${id}" />
					<button type="submit">❌</button>
				</form>
			</li>
			<li th:if="${#lists.isEmpty(memberInfo.followIds)}">フォローがありません</li>
		</ul>
	</div>
	<div>
		<form th:action="@{/auth/updateIsDelete}" method="post">
			<button type="submit" onclick="return confirm();">
				会員脱退
			</button>
		</form>
	</div>
</div>
