<!--
	File:    side.html
	Purpose: サイドバー（リンク・フォロー）
	Since:   2025/05/13
	Version: 1.0.1
	Author:  中村、Kwon Yujin
	
	@see: layout.html
-->

<div th:fragment="siteSide" class="side">
	<div class="link-list">
		<div class="link-title">リンクリスト</div>
		<div class="link-btnGroup">
			<button class="link-btn" onclick="linkAction(1)"></button>
			<button class="link-btn" onclick="linkAction(2)"></button>
			<button class="link-btn" onclick="linkAction(3)"></button>
			<button class="link-btn" onclick="linkAction(4)"></button>
			<button class="link-btn" onclick="linkAction(5)"></button>
			<button class="link-btn" onclick="linkAction(6)"></button>
			<button class="link-btn" onclick="linkAction(7)"></button>
			<button class="link-btn" onclick="linkAction(8)"></button>
			
		</div>
	</div>

	<div class="follow-list">
		<div class="follow-title">フォローリスト</div>
		<div class="follow-btnGroup">
			<!-- ダミーのフォローボタン (dammy button) -->
			<button class="follow-btn"></button>
			<button class="follow-btn"></button>
			<button class="follow-btn"></button>
		</div>
	</div>
</div>
