<!--
  File:        side.html
  Description: 사이트 공통 사이드(링크·팔로우 리스트) 프래그먼트
  Since:       2025/04/28
  LastUpdated: 2025/05/16
  Version:     1.0.0
  Author:      中村, Kwon Yujin
  See:         layout.html
-->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="siteSide" class="side" >
	<div class="link-list">
		<div class="link-title">リンクリスト</div>	<!-- リンクリストとフォローリスト作ってその中にボタン追加 -->
		<div class="link-btn-group">
			<button class="link-btn"></button>  <!-- 本当はwhileとかで書きたかったけど、なんかできんかった -->
			<button class="link-btn"></button>
			<button class="link-btn"></button>
			<button class="link-btn"></button>
			<button class="link-btn"></button>
			<button class="link-btn"></button>
			<button class="link-btn"></button>
			<button class="link-btn"></button>	
		</div>
	</div>
	
	<div class="follow-list">
		<div class="follow-title">フォローリスト</div>
		<div class="follow-btn-group">
			<button class="follow-btn"></button>
			<button class="follow-btn"></button>
			<button class="follow-btn"></button>
			<button class="follow-btn"></button>
			<button class="follow-btn"></button>
			<button class="follow-btn"></button>
			<button class="follow-btn"></button>
			<button class="follow-btn"></button>
		</div>	
	</div>
</div>
