/*!
 * File:    footer.css
 * Purpose: サイト共通のフッタースタイルの定義です。
 * Since:   2025/05/02
 * Version: 1.0.0
 * Author:  中村
 */

.footer {
	position: fixed;
	bottom: 0%;
	left: 0%;
	width: 100%;
	height: 5%;
	background-color: #00f;
}
