/*
 * 
 * version: 1.0.2
 * date : 2025/04/30
 * 作成者 : 中村
 * 
 */ 


.profile-area {
	position: fixed;
	top: 0;
	right: 0;
	width: 500px;
	background: #fff;
	padding: 10px;
	border-radius: 10px;
	font-size: 35px;
	text-align: center;
}


input{
	width: 100%;
	font-size: 20px;
}


.icon {
	width: 30px;
	height: 30px;
	border-radius: 50px;
	background-color: gray;
	position: relative;
	top: 10px;
	right: 10px;
}