/*
 * 
 * version: 1.0.1
 * date : 2025/04/28
 * 作成者 : 中村
 * 
 */ 


.profile-area {
	position: absolute;
	top: 0;
	right: 0;
	width: 500px;
	background: #fff;
	border: 2px solid #ccc;
	padding: 10px;
	border-radius: 10px;
	font-size: 35px;
	text-align: center;
}


input{
	width: 100%;
	font-size: 20px;
}


.profileimg-area {
	
}