/*
 * version
 *	1.0.3
 * date
 *	2025/05/02
 * create
 *	Nakanura
 */

body {		/*　画面全体のレイアウト(Layout for the entire screen)　*/
	display: grid;
	gap: 20px;
	font-family: sans-serif;
}

.main {
    position: relative;
    background-color: lightsalmon;
    /* bottom: 0%; */
    grid-area: none;
    /* right: -81%; */
    /* transform: translateY(300%); */
    padding: 22%;
    /* margin-top: -11%; */
    transform: translateX(-80%);
    text-align: center;
    transform: translateY(50%);
}
