/*!
 * File:    layout.css
 * Purpose: サイトのレイアウトスタイルを定義します。
 * Since:   2025/05/02
 * Version: 1.0.0
 * Author:  中村、
 */

body {		/* 画面全体のレイアウト(Layout for the entire screen) */
	display: grid;
	font-family: sans-serif;
	gap: 20px;
}

.main {
    position: relative;
    padding: 22%;
    text-align: center;
    background-color: lightsalmon;
    transform: translateX(-80%);
    transform: translateY(50%);
    grid-area: none;
}
