/*
 * version
 *	1.0.3
 * date
 *	2025/05/02
 * create
 *	Nakanura
 */

body {		/*　画面全体のレイアウト(Layout for the entire screen)　*/
	display: grid;
	margin: 0;
	font-family: sans-serif;
}

.main {
    position: absolute;
    background-color: lightsalmon;
    right: 0%;
    /* transform: translateX(-80%); */
    text-align: center;
    /* transform: translateY(50%); */
    width: 100%;
    height: 100%;
	z-index: 1;
}
