/*
 * 
 * version: 1.0.2
 * date : 2025/04/30
 * 作成者 : 中村
 * 
 */ 


 .sidebar {
	display: flex;
	flex-direction: column;
	gap: 20px;
}


.link-list, .follow-list {
	border: 2px solid #ccc;
	padding: 5px;
	border-radius: 10px;
	font-size: 35px;
	text-align: center;
	border-radius: 20%;
}


/*.link-list {
	background: #aee0f9;

}*/


.follow-list {
	grid-template-columns: repeat(3, fr 1);		/* フォローリストの中身を3 * 1(ボタン三つで改行したい) */
}


.link-listbtn{
	width: 60px;
	height: 60px;
	background-color: aquamarine;
	border-radius: 10px;
	border: none;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	margin: 5px;
	cursor: pointer;	
}


.follow-listbtn{
	width: 60px;
	height: 60px;
	background-color: #e8aee0;
	border-radius: 10px;
	border: none;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	margin: 5px;
	cursor: pointer;
}