/*!
 * File:    side.css
 * Purpose: サイト共通のサイドスタイル定義です。
 * Since:   2025/05/02
 * Version: 1.0.0
 * Author:  中村
 */
 
.side{
	position: absolute;
	right: 50%;
	left: 0%;
	background-color: #0f0;
 	max-width: 30%;
}

.link-list .btn-group {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;

	/* margin-top: 10px; */
}

.link-list {
	padding: 10px;
	border: 2px solid #ccc;
	font-size: 35px;
	text-align: center;
	border-radius: 20%;
	margin-top: 20%;
	max-width: none;
}

.follow-list .btn-group {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}

.follow-list {
	padding: 10px;
	border: 2px solid #ccc;
	font-size: 35px;
	text-align: center;
	border-radius: 20px;
	border-radius: 20%;
	margin-bottom: 20%;
	margin-top: 20%;
	max-width: none;
}

.link-btn {
	width: calc(25% - 20px);
	height: 60px;
	margin: 5px;
	border: none;
	background-color: aquamarine;
	box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
	cursor: pointer;
	border-radius: 10px;
	max-width: 80px;
}

.follow-listbtn {
	width: calc(25% - 20px);
	height: 60px;
	margin: 5px;
	border: none;
	background-color: #e8aee0;
	box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
	cursor: pointer;
	border-radius: 10px;
	max-width: 80px;
}
