<!---
version: 1.0.1
date : 2025/04/28
作成者 : 中村
 -->


<!DOCTYPE html>
<html lang="en">
<head>
	<link rel = "stylesheet" href = "/css/header.css">
	<link rel = "stylesheet" href = "/css/footer.css">
	<link rel = "stylesheet" href = "/css/index.css">
	<link rel = "stylesheet" href = "/css/sidebar.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>所属紹介</title>
</head>
		
<body>
	<div class = "sidebar">
		<div class = "link-list">
		リンクリスト
		<br>
		<button class = "link-listbtn">
		<button class = "link-listbtn">
		<button class = "link-listbtn">
		<button class = "link-listbtn">	
		</div>
	</div>
	
	<div class = "main-content">
			<div class = "profile-area">		<!-- この中にユーザーの設定したアイコン出すボタン作りたい。(アイコン押したら画像変えれるとか...) -->
				<input type = "text" placeholder = "検索" style = width:100%;>
					<div>プロフィールエリア</div>
			</div>
		</div>
	
	<div class = "follow-list">
		フォローリスト
		<br>
		<button class = "follow-listbtn">
		<button class = "follow-listbtn">
		<button class = "follow-listbtn">
		<button class = "follow-listbtn">	
	</div>
	<!-- linkとprofileのリスト内のボタンを
		　・サイズ変更
	 	　・位置調整　　　　したい。 -->
	
</body>
</html>