<!--
  File:        index.html
  Description: 전체 HTML 문서 구조 (head·layout 프래그먼트 포함)
  Since:       2025/04/28
  LastUpdated: 2025/05/16
  Version:     1.0.0
  Author:      中村, Kwon Yujin
  See:         head.html, layout.html
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head(${title}, ${css}, ${javascript})}"></head>
<body th:replace="~{main/layout :: layout(content=${content})}"></body>
</html>
